

<nav class="navbar navbar-default" style="margin-bottom: 0%; height: 5%;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand">
            <img src="assets/img/ngx-bootstrap.svg" class="logo">
          </a>
          <span class="navbar-brand">Angular + Bootstrap</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">
            Link <span class="sr-only">(current)</span>
          </a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown" dropdown> 
              <a dropdownToggle role="button"> 
                Dropdown <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu"> 
                  <li><a routerLink = "create-connection">Create Connection</a></li>
                  <li><a routerLink="stock-and-index-price">Stock and Index Price</a></li>
                  <li><a routerLink="mutual-fund">Mutual fund</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
              </ul>
          </li>
      </ul>
  </div>
</nav>

<mat-drawer-container class="main-page-drawer customSideBarCSS">
    <mat-drawer style="width: 20%" #mainSidenDrawer mode="side" [(opened)]="mainPageSideBarOpend">
        <div *ngIf="mutualFundCompanies" style="">
            Mutual Fund Companies
            <form [formGroup]="form" (ngSubmit)="compareMCompanies()">
                <div style="width: 100%" class="drawer-content">
                <div [formArrayName]="'items'" [class.invalid]="!form.controls.selectedItems.valid">
                  <div *ngFor="let control of form.controls.items.controls; let i = index;" [formGroup]="control">
                    <input type="checkbox" formControlName="checkbox" id="i" value="control.controls.symbol.value">
                    <label class="ellipsis customSideBarFont" attr.for="{{i}}">
                      <span tooltip="{{control.controls.text.value}}" >&nbsp; {{ (control.controls.text.value.length>21)? (control.controls.text.value | slice:0:21)+'..':(control.controls.text.value) }}</span>
                    </label>
                  </div>
                </div>
                <br />
              </div>
                <div *ngIf="!form.controls.selectedItems.valid && form.controls.items.touched">
                  checkbox group is required!
                </div>
                <div style="width: 100%; bottom: 0; height: 100%; position: sticky; background-color:#ddd;">
                  <div class="sidebar-fixed-bottom">
                      <button [disabled]="!form.controls.selectedItems.valid">submit</button>
                  </div>
              </div>
            </form>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div>
                <button mat-button (click)="mainSidenDrawer.toggle()">sidenav.toggle()</button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>